<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8"/>
        <link href="/static/css/project.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Thirsty Earth 2</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <h1> Round {{ round }}</h1>
                        <img id="farm-field" src="{% static 'images/thirstyearth/farm_field.png' %}"  alt="field" />

                        <div class="flex-row">
                            
                            <button class="stickybutton col" id="no-crop-button">
                                <img src="{% static 'images/thirstyearth/crop_empty.png' %}" class="game-piece" alt="no_crop" />
                            </button>
                            <button class="stickybutton col" id="one-crop-button">
                                <img src="{% static 'images/thirstyearth/crop_one.png' %}" class="game-piece" alt="one_crop" />
                            </button>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div><h2>Rain</h2><img src="{% static 'images/thirstyearth/cloud.png' %}" alt="rain" class="game-piece"/></div>
                        <div><h2>Profit</h2><img src="{% static 'images/thirstyearth/briefcase.png' %}" alt="profit" class="game-piece"></div>
                    </div>
                    <div class="flex-container">
                        <div>Buy Water Saving Technology</div>
                        
                        <button class="togglebutton" id="buy-tech-button">
                            <img src="{% static 'images/thirstyearth/well.png' %}" class="game-piece" alt="technology" />
                        </button>
                        
                    </div>
                </div>
            </div>
        
        </div>
    </body>
    <script>
        var baseURL = "{% static 'images/' %}";
        
        function closeAllStickyButtons() {
            const buttonList = document.querySelectorAll('.stickybutton');
            for (let i = 0; i < buttonList.length; i++) {
                buttonList[i].classList.remove('pressed');
            }
        }

        var cropSelected = "";
        var buyTech = "";

        const noCropButton = document.getElementById('no-crop-button');
        noCropButton.addEventListener('click', function() {
            console.log('no crop button clicked');
            closeAllStickyButtons();
            noCropButton.classList.add('pressed');
            cropSelected = "";
            var field = document.getElementById('farm-field');
            field.src = baseURL + 'thirstyearth/fallow_field.png';
        });

        const lightCropButton = document.getElementById('one-crop-button');
        lightCropButton.addEventListener('click', function() {
            console.log('yes crop button clicked');
            closeAllStickyButtons();
            lightCropButton.classList.add('pressed');
            cropSelected = "crop";
            var field = document.getElementById('farm-field');
            field.src = baseURL + 'thirstyearth/crop_field.png';
        });

        const waterButton = document.getElementById('buy-tech-button');
        waterButton.addEventListener('click', function() {
            console.log('water button clicked');
            
            if(waterButton.classList.contains('pressed')){
                waterButton.classList.remove('pressed');
                buyTech = "";
                return;
            }
            waterButton.classList.add('pressed');
            buyTech = "buy_tech";
        });

        
    </script>
</html>
